{%  extends "AppsSiteBundle::layout.html.twig" %}


{%   block carrousel  %}
<div style="width: 100%;padding-top: -10px; height: 480px;background-image:url('{{ asset("img/slider_noticias.png") }}">
</div> 
{%   endblock %}

{%  block contenido_top %}

{% endblock %}

{%  block contenido_mid %}

<div class="row-fluid" >

    <div id="noticias-wrap" class="span10 offset1" >


        <div  class="row-fluid" >




            <ul class="breadcrumb span10 " style="background-color: white; ">
                <li><a href="#">Home</a> <span class="divider">/</span></li>
                <li class="active">Noticias</li>
            </ul>


            <div  class="row-fluid" >
                <h3 class="span_subtitulos_contenido"   >N O T I C I A S</h3>
            </div>

       {%  for i in 0 .. noticias | length / 3  %}

        {{  include('AppsSiteBundle:Template:row_noticias.html.twig'   , {'noticias': noticias | slice( i * 3 , 3  )  } ) }}

       {% endfor %}


        </div>

        <hr/>
    </div>


</div>



{% endblock %}



{%  block contenido_bottom %}
<div class="row-fluid">
    <div class="span10 offset1">
        <div class="row-fluid">
            <div class="span4" ><img  style="width: 100%;"  src="{{ asset('img/ban1.png') }}"/></div>
            <div class="span4" ><img  style="width: 100%;" src="{{ asset('img/ban2.png') }}"/></div>
            <div class="span4" ><img  style="width: 100%;" src="{{ asset('img/ban3.png') }}"/></div>
        </div>
        <div class="row-fluid">
            <hr  class="separador-layout" />
        </div>
    </div>
</div>
            {%  endblock %}