<div class="navbar" id="top_menu">
    <div class="navbar-inner top-banner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>       
            <a class="brand left_sumbawa" href="{{ path('home') }}">
                <img  class="right_botones-item" src="{{ asset('img/sumbawa.png') }}"/>
            </a>
            <div class="nav-collapse collapse ">
                <ul class="nav  pull-right right_botones">
                    <li  class="divider-vertical right_botones-item">
                        <a class="link-menu" href="#">Registrate</a>
                    </li>
                    <li class="right_botones-item"  >
                        <a  class="link-menu"  href="#">Entrar</a>
                    </li>
                    <li class="divider-vertical right_botones-item">
                        <a  class="link-menu"  href="#"><img src="{{ asset('img/cart.png') }}"/> Carrito</a>
                    </li>
                    <li class="right_botones-item" >
                        <a href="#" class="icon_redes"><img src="{{ asset('img/tw.png') }}"/></a>
                    </li>
                    <li class="right_botones-item" >
                        <a href="#" class="icon_redes"><img src="{{ asset('img/fb.png') }}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>