{%  extends "AppsSiteBundle::layout.html.twig" %}

{%  block contenido_top %}
{% endblock %}

{%   block carrousel  %}

{%   endblock %}

{%  block contenido_mid %}



<div class="row-fluid" style="margin-bottom: 40px;" >
  <div class="span10 offset1">
    <div class="row-fluid">

        <div class="span12">
            <div class="row-fluid">
                <div class="span10" style="width: 100%">


                  <div id="promociones" class="carousel slide" style="margin-bottom: 0px;">
                    <ol class="carousel-indicators">
                        <li data-target="#promociones" data-slide-to="0" class="active"></li>
                        <li data-target="#promociones" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div   style="width: 100%;" class="active item">
                            <img style="width: 100%;height: 480px" src="{{ asset('uploads/banners/promocion.jpg') }}" alt="" />                  
                        </div>
                        <div class="item">
                            <img style="width: 100%;height: 480px" src="{{ asset('uploads/banners/promocion2.jpg') }}" alt="" />                  
                        </div>
                        <div class="item">
                            <img style="width: 100%;height: 480px" src="{{ asset('uploads/banners/promocion3.jpg') }}" alt="" />                  
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#promociones" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#promociones" data-slide="next">&rsaquo;</a>
                </div>


            </div>
        </div>

    </div> 

</div><!--/span-->
</div><!--/row-->

</div>
</div>






{% endblock %}



{%  block contenido_bottom %}
<div class="row-fluid">
  <div class="span10 offset1">
    <div class="row-fluid">
        <div class="span4" ><img  style="width: 100%;"  src="{{ asset('img/ban1.png') }}"/></div>
        <div class="span4" ><img  style="width: 100%;" src="{{ asset('img/ban2.png') }}"/></div>
        <div class="span4" ><img  style="width: 100%;" src="{{ asset('img/ban3.png') }}"/></div>
    </div>
    <div class="row-fluid">
        <hr  class="separador-layout" />
    </div>
</div>
</div>
{%  endblock %}