<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="UTF-8" /> 
        <title>Sumbawa</title>
        <link rel="stylesheet" href="{{  asset('css/bootstrap.css') }}"  ></link>
        <link rel="stylesheet" href="{{  asset('css/bootstrap-responsive.css') }}"  ></link>
        <link rel="stylesheet" href="{{  asset('css/style.css') }}"  ></link>
        <link rel="stylesheet" href="{{  asset('css/menu.css') }}"  ></link>
        <script type="text/javascript"  src="{{  asset('js/jquery-1.9.1.js') }}" ></script>
        <script type="text/javascript"  src="{{  asset('js/bootstrap.js') }}" ></script> 
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript"  src="{{  asset('js/google-maps.js') }}" ></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

     {%  block menu %}      
     {%  include 'AppsSiteBundle:Menu:top.html.twig' %}      
     {%  endblock %}

     {%  block submenu %}      
     {%  include 'AppsSiteBundle:Menu:sub.html.twig' %}      
     {%  endblock %}


        <div style="clear: both"></div>


      {%   block carrousel  %}

        <div id="home_carousel" class="carousel slide" style="margin-bottom: 0px;">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div   style="width: 100%;" class="active item">
                    <img style="width: 100%;height: 480px" src="{{ asset('img/slider.png') }}" alt="" />                  
                </div>
                <div class="item">
                    <img style="width: 100%;height: 480px" src="{{ asset('img/slider.png') }}" alt="" />                  
                </div>

                <div class="item">
                    <img style="width: 100%;height: 480px" src="{{ asset('img/slider.png') }}" alt="" />                  
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#home_carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#home_carousel" data-slide="next">&rsaquo;</a>
        </div>
        <div style="width: 100%;padding-top: -10px; height: 45px;background-image:url('../img/separador.png');background-repeat:repeat-x;"></div> 

      {%   endblock %}

        
        <br/>


        <div class="container" style="padding: 10px">

            {%  block contenido_top %}
            <div class="row">
                <div class="span11">
                    <div class="row">
                        <div class="span3 offset1"><img src="{{ asset('img/ban1.png') }}"/></div>
                        <div class="span3" style="padding-left: 50px"><img src="{{ asset('img/ban2.png') }}"/></div>
                        <div class="span3" style="padding-left: 50px"><img src="{{ asset('img/ban3.png') }}"/></div>
                    </div>
                </div>
            </div>
            {% endblock %}


               {%  block contenido_mid %}
                <div class="row">
                    <h3 class="span9 offset1 span_subtitulos_contenido"><hr>P R O D U C T O S</h3>

                    <div class="span2 offset1" style="text-align: center;">  
                      <a href="#"  class="label_subtitulo"><img src="{{ asset('img/Hombres.png') }}"/>HOMBRES</a>
                        {%  include 'AppsSiteBundle:Template:template.menu.opciones.html.twig' %}      
                    </div>
                    <div class="span2" style="text-align: center;">
                        <a href="#"  class="label_subtitulo"><img src="{{ asset('img/Mujer.png') }}"/>MUJERES</a>
                        {%  include 'AppsSiteBundle:Template:template.menu.opciones.html.twig' %}
                    </div>
                    <div class="span2" style="text-align: center;">
                        <a href="#"  class="label_subtitulo"><img src="{{ asset('img/ninos.png') }}"/>NIÑOS</a>
                        {%  include 'AppsSiteBundle:Template:template.menu.opciones.html.twig' %}
                    </div>
                    <div class="span2" style="text-align: center;">
                        <a href="#"  class="label_subtitulo"><img src="{{ asset('img/surf.png') }}"/>SURF</a>
                        {%  include 'AppsSiteBundle:Template:template.menu.opciones.html.twig' %}
                    </div>
                    <div class="span2" style="text-align: center;">
                        <a href="#"  class="label_subtitulo"><img src="{{ asset('img/skate.png') }}"/>SKATE</a>
                        {%  include 'AppsSiteBundle:Template:template.menu.opciones.html.twig' %}
                    </div>
                </div>
            {% endblock %}

               {%  block contenido_bottom %}
            <div class="row">

                <h3 class="span10 offset1 span_subtitulos_contenido"><hr>N O T I C I A S</h3>
                <div class="span10 offset1" >


                    <div class="row" >
                        <div class="span3">
                            <ul style="list-style:none outside none; margin-left: 0px;">
                                <li  style="margin-left: 0px;">
                                    <h3 class="label_subtitulo_noticias">Camisetas</h3>
                                    <h6 style="margin: 0px;color: #707070;font-family: Arial">Lunes, 11 Marzo 2010 a la 13h30</h6>
                                    <img style="width: 100%;height: 133px" src="{{ asset('img/cam1.png') }}" alt="">
                                    <p>Nuestras camisetas son de las marcas mas reconocidas Quicksilver, VOlcom, Reef entre otras que llevan...</p>

                                </li>
                            </ul>
                        </div>

                        <div class="span3" style="padding-left: 50px">
                            <ul style="list-style:none outside none; margin-left: 0px;">
                                <li   style="margin-left: 0px;">
                                    <h3 class="label_subtitulo_noticias">Camisas</h3>
                                    <h6 style="margin: 0px;color: #707070;font-family: Arial">Lunes, 11 Marzo 2010 a la 13h30</h6>
                                    <img style="width: 100%;height: 133px" src="{{ asset('img/cam2.png') }}" alt="">
                                    <p>Camisas de playa para eventos inoportunos y brindando la frescura del ambiente player en todo lugar..</p>
                                </li>
                            </ul>
                        </div>

                        <div class="span3" style="padding-left: 50px">
                            <ul style="list-style:none outside none; margin-left: 0px;">
                                <li   style="margin-left: 0px;">
                                    <h3 class="label_subtitulo_noticias">Bermudas</h3>
                                    <h6 style="margin: 0px;color: #707070;font-family: Arial">Lunes, 11 Marzo 2010 a la 13h30</h6>
                                    <img style="width: 100%;height: 133px" src="{{ asset('img/cam3.png') }}" alt="">

                                    <p>El tipo de bermuda define tu vocacion en el surf o el skate ya puedes encontrar en nuestros locales la tuya...</p>
                                </li>
                            </ul>            
                        </div>
                    </div>

                </div>

            </div>
            {%  endblock %}

        </div>



    {%  block menufooter %}    
        {%  include 'AppsSiteBundle:Template:template.menu.footer.html.twig' %}          
    {%  endblock %}


    {%  block footer %}
        <footer>
            <div class="span9" style=" background-color: #F2F8F7">
                <div style="text-align: center ;font-family: Arial; font-size: 10px;">Copyright &COPY; 2013 Sumbawa Ecuador. All Right Reserved
                    <div class="pull-right footer_copyright">
                        <a href="#" class="icon_redes_foot"><img src="{{ asset('img/twf.png') }}"/></a>
                        <a href="#" class="icon_redes_foot"><img src="{{ asset('img/fbf.png') }}"/></a>
                    </div>      
                </div>
            </div>
        </footer>
    {%  endblock %}

        <script type="text/javascript"  src="{{  asset('js/bootstrap-carousel.js') }}" ></script>
        <script type="text/javascript"   >


            $('.carousel').carousel();


            </script>


        </body>
    </html>