<div class="row span9" style="margin-left: 0px;width:960px">
    <div class="span2" style="text-align: center; margin: 10px;">
        <ul class="dropdown dropdown-menu-hover" style="list-style-type: none;">
            <li class="dropdown dropdown-hover">
                <a href="#" class="link-submenu_productos dropdown-toggle">
                    <img src="{{ asset('img/Hombres.png') }}"/>HOMBRES</a>
                <ul class="dropdown-menu dropdown-menu-hover ">
                    <li><a href="#">Categoria 1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 3</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="span2" style="text-align: center; margin: 10px;">
        <ul class="dropdown dropdown-menu-hover" style="list-style-type: none;">
            <li class="dropdown dropdown-hover">
                <a href="#" class="link-submenu_productos dropdown-toggle">
                    <img src="{{ asset('img/Mujer.png') }}"/>MUJERES</a>
                <ul class="dropdown-menu dropdown-menu-hover ">
                    <li><a href="#">Categoria 1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 3</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="span2" style="text-align: center; margin: 10px;">
        <ul class="dropdown dropdown-menu-hover" style="list-style-type: none;">
            <li class="dropdown dropdown-hover">
                <a href="#" class="link-submenu_productos dropdown-toggle">
                    <img src="{{ asset('img/ninos.png') }}"/>NIÑOS</a>
                <ul class="dropdown-menu dropdown-menu-hover ">
                    <li><a href="#">Categoria 1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 3</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="span2" style="text-align: center; margin: 10px;">
        <ul class="dropdown dropdown-menu-hover" style="list-style-type: none;">
            <li class="dropdown dropdown-hover">
                <a href="#" class="link-submenu_productos dropdown-toggle">
                    <img src="{{ asset('img/surf.png') }}"/>SURF</a>
                <ul class="dropdown-menu dropdown-menu-hover ">
                    <li><a href="#">Categoria 1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 3</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="span2" style="text-align: center; margin: 10px;">
        <ul class="dropdown dropdown-menu-hover" style="list-style-type: none;">
            <li class="dropdown dropdown-hover">
                <a href="#" class="link-submenu_productos dropdown-toggle">
                    <img src="{{ asset('img/skate.png') }}"/>SKATE</a>
                <ul class="dropdown-menu dropdown-menu-hover ">
                    <li><a href="#">Categoria 1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Categoria 3</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
</div>