{% for noticia in noticias  %}

<div class="span4" >
   
        <a  href="{{   path('descripcion_noticia' , {'id_noticia':noticia.id}) }}" >
            <li   style="margin-left: 0px;list-style: none;">
                <h3 class="label_subtitulo_noticias">{{  noticia.titulo }}</h3>
                <h6 style="margin: 0px;color: #707070;font-family: Arial">{{  noticia.created | date('Y-m-d H:i:s') }}</h6>
                <img style="width: 100%;height: 133px" src="{{ asset('uploads/noticias/' ~ noticia.imagen) }}" alt="">
                <p  class="noticia-descripcion" >{{  noticia.descripcion }}</p>
            </li>
        </a>
           
</div>


{% endfor  %}